<fieldset>
    <legend>Contributor {{ number }}</legend>
    {#<input type="hidden" name="auth_{{ number }}_id" value="{{}}" />#}

    <label for="auth#name">Name</label>
        <input type="text" name="auth_{{ number }}_name" />

    <label for="auth#role">Role</label>
        <input type="text" name="auth_{{ number }}_role" />

    <label for="auth#ref">Location</label>
        <input type="text" name="auth_{{ number }}_ref" />
</fieldset>
<input type="button" value="Add Contributor" hx-swap="outerHTML" hx-get="/forms/component/contributor/{{ number + 1}}" />
