{# Form Element for instruction#}
<fieldset>
    <legend> Instruction ?</legend>

    <label for="group#">Group</label>
      <input type="text" name="group#" />
    <label for="ordered#">Ordered</label>
      <input type="checkbox" name="ordered#" />
    <label for="sequence#">Step Number</label>
      <input type="number" name="sequence#" />
    <label for="intsruct#">Instruction</label>
      <input type="text" name="instruct#" />
</fieldset>
