<!DOCTYPE html>

<html>
    <head>
        <title>Recipe Book</title>

        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
