<!DOCTYPE html>

<html>
    <head>
        <title>Recipe Book</title>

        {% block styles %}
            <link href="" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
