{% extends 'layouts/base.html.jinja' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/recipe.css')}}" />
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
          <input type="text" name="name" /><!--{% if recipe %}value="{{recipe.name}}"{% endif %} />-->

        <label for="description">Description</label>
            <input type="text" name="description" /><!--{% if recipe %}value="{{recipe.description}}"{% endif %} />-->

        <input type="button" value="Add Citation" hx-get="/forms/component/citation" />

        <fieldset>
            <legend>Ingredients</legend>
            <input type="button" value="Add Ingredient" hx-get="/forms/component/recipe_ingredient/1" />
        </fieldset>

        <fieldset>
            <legend>Instructions</legend>
            <input type="button" value="Add Instruction" hx-get="/forms/component/instuction/1" />
        </fieldset>

        <input type="submit" value="Submit" action="" />
    </form>
{% endblock %}
