
{#
 # Elements
 #     Materials
 #     Material Costs
 #     Labor Costs
 #     Yield Percentage (Average, Low, High)
 # Actions for Cards
 #     Print
 #     Purchase Pricing (User selects ? and add price)
 #
#}
