{{ menu}}

{# Menu Information
 #   Name, Description, Private
 #   Type: {}
#}


{# List of Menu Items
 #   List Ala Cart Items
 #   List Meals with Each plate recipe
 #      Without Options, With Options
#}

{# Actions for Menu
 #   Print All Menu Recipes
 #   Print Menu
 #   Add Menu Items
#}
