

{{ recipe.get('title', '') }}
{{ recipe.get('description', '') }}
{{ recipe.get('origin', '') }}{# if origin is copied on site, link to recipe #}

{#{ recipe.times.prep }}
{{ recipe.times.cooking}}

{{ recipe.yield }}
{{ recipe.portion_size }}
{{ recipe.estimated_portions }#}

{% for ingredient in recipe.get('ingredients') %}
    {{ ingredient.get('name', '') }} {# link to ingredient information #}
    {{ ingredient.get('amount', '', ) }}
{% endfor %}

<ul>
{% for instruction in recipe.get('instructions').get('cooking') %}
    <li>{{ instruction }}</li>
{% endfor %}
</ul>

{# Recipe Actions
 # Print All Associated Recipes (Includes Item Recipes)
 #     Create selection that allows user to select which to print
 # Convert Measurements (Metric <> Imperial, Volume <> Mass)
 # Adjust Yields (By Output or Portions)
 #    By portions uses ceiling to get whole units
 # Add to Collection, Menu
 # Develop Cost Sheet
 # Print Shopping List
#}
