{% extends 'layouts/base.html.jinja' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/recipe.css')}}" />
{% endblock %}

{% block content %}
<ul>
    {% for recipe in recipes %}
        <li>
            <a href="{{ url_for('recipe.view_single', id = recipe.get('_id')) }}">
                {{ recipe['title'] }}
                {{ recipe['description'] }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock%}
