{% extends 'layouts/base.html.jinja' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="styles/recipe.css") }}" />
{% endblock %}

{% block content %}
    {{ recipe.get('title', '') }}
    {{ recipe.get('description', '') }}
    {{ recipe.get('origin', '') }}{# if origin is copied on site, link to recipe #}

    {#{ recipe.times.prep }}
    {{ recipe.times.cooking}}

    {{ recipe.yield }}
    {{ recipe.portion_size }}
    {{ recipe.estimated_portions }#}

    <div class="tools">
        <p class="header">Preperation</p>
        <p class="header">Cooking</p>
        <p class="header">Storage</p>
        <p class="header">Serving</p>
    </div>
    <div class="ingredients">
        <p class="header">Ingredients</p>
        <table>
            <tr class="header">
                <td>Name</td>
                <td>Amount (Grams)</td>
                <td>Baker's Percentage</td>
                <td>Preperation</td>
            </tr>
            {% for ingredient in recipe.get('ingredients') %}<tr>
                <td>{{ ingredient.get('name', '') }}</td> {# link to ingredient information #}
                <td>{{ ingredient.get('amount', '', ) }}</td>
                <td>{{ ingredient.get('bp_amount', '') }}</td>
                <td>{{ ingredient.get('preperation', '') }}</td>
            </tr>{% endfor %}
        </table>
    </div>

    <div class="instructions">
        <p class="header">Preperation</p>
        <ul>
        {% for instruction in recipe.get('instructions').get('preperation') %}
            <li>{{ instruction }}</li>
        {% endfor %}
        </ul>
        <p class="header">Cooking</p>
        <p class="header">Storage</p>
        <p class="header">Serving</p>
    </div>

{% endblock %}

{# Recipe Actions
 # Print All Associated Recipes (Includes Item Recipes)
 #     Create selection that allows user to select which to print
 # Convert Measurements (Metric <> Imperial, Volume <> Mass)
 # Adjust Yields (By Output or Portions)
 #    By portions uses ceiling to get whole units
 # Add to Collection, Menu
 # Develop Cost Sheet
 # Print Shopping List
#}
