{% extends "layouts/base.html.jinja" %}

{% block content %}
    <header>
        <p class="title">Recipe Book by Insider Technologies</p>
        <nav class="">
            <ul>
                <li>Home</li>
                <li>Recipes</li>
                <li>Menus</li>
                <li>Account</li>
            </ul>
        </nav>
    </header>
    <main>
        {% block helpful %}{% endblock %}
    </main>
    <footer>
        <p class="copyright">&copy; 2024 - Present by Insider Technologies or listed holder.</p>
    </footer>
{% endblock %}
