/* Card Style Gallery List */

ul.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

li.card {
    position: relative;

    min-width: calc(25% - 1rem);
    max-width: 45%;
    padding; 0;
    margin: 0.5rem;
}

li.card img.thumbnail{
  width: 100%;
}
li.card > a {
    position: absolute;
    inset: 0;
    z-index: 1;
}
li.card a:hover{
  background: rgba(50, 50, 50, .25);
}
