/* These are the styles for default views of recipes, ingredients, and ? */


/* Layout Related Items */
.recipe_short{

}


/* Decorative Items */
.ingredients table tr.header td{
    text-align: center;
    font-weight: 500;
}
.ingredients table tr:not(:last-child) td{
    border-bottom: 1px solid black;
}
