/* These are the styles for default views of recipes, ingredients, and ? */


/* Layout Related Items */
.recipe_short{

}


/* Decorative Items */
table.ingredients tr.header td{
    text-align: center;
    font-weight: 700;
}
table.ingredients tr:not(:last-child) td{
    border-bottom: 1px solid black;
}
